.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
  background: #ededed;
}

p {
  font-family: roboto;
}
/* navbar starts here  */
.all-navbar {
  display: block;
}
.navbar1 li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: roboto;
  font-size: 14px;
}
.navbar1 li a.right-border {
  border-right: #d2d2d2 1px solid;
}
ul li {
  list-style: none;
}

.navbar1 ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
#flag-position {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* navbar 2 style here  */
.nav {
  background: white;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-text {
  font-size: 24px;
  font-family: montserrat;
}
.make-bold {
  font-weight: bold;
  font-family: montserrat;
}
.make-a-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul .menu-item a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 26px 50px;
  color: black;
  font-family: montserrat;
}
.icon-list {
  gap: 30px;
}
.icon-position {
  position: relative;
  display: inline-block;
}
#nav-hr {
  border: none;
  border-top: 2px solid #e7e7e7;
}
.number-cart {
  position: absolute;
  bottom: -4px;
  left: -8px;
  background: #007db5;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border: white 1px solid;
  /* border-radius: 50%; */
}
/* nav3 starts here  */
.free-text {
  padding: 18px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

/* mobile menu  */
.nav-mobile {
  background: white;
  display: none;
}
.mobile-logo-text {
  font-size: 32px;
  font-weight: bold;
  font-family: montserrat;
  padding: 12px 0px;
}
.mobile-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile-nav1-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sliderbar-list {
  display: flex;
  flex-direction: column;
}

.slidebar {
  max-width: 400px;
  background: blue;
  position: absolute;
  display: none;
}
.sliderbar-list li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
.sliderbar-list li:hover {
  border-bottom: white 1px solid;
  background: rgb(83, 83, 141);
}

.slidebar.active {
  display: block;
}

/* ========product page style here=========== */
.product-page {
  background: white;
}
.page-menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-menu-list li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: roboto;
  padding: 17px 0px;
}
.product-page-upper {
  display: flex;
  gap: 5px;
}
.product-page-upper-left {
  flex: 2;
}
.product-page-upper-right {
  flex: 1;
}
.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 344px 1055px 521px;
  grid-template-areas:
    "a a b b c c"
    "d d d d d d"
    "e e e f f f";
}
.image-1 {
  grid-area: a;
}
.image-2 {
  grid-area: b;
}
.image-3 {
  grid-area: c;
}
.image-4 {
  grid-area: d;
}
.image-5 {
  grid-area: e;
}
.image-6 {
  grid-area: f;
}
.product-images .image-4 {
  position: relative;
}
.text-on-product {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 12px;
  padding: 9px 22px;
  background: white;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .all-navbar {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
