.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
  background: #ededed;
}

p {
  font-family: roboto;
}
/* navbar starts here  */
.all-navbar {
  display: block;
}
.navbar1 li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: roboto;
  font-size: 14px;
}
.navbar1 li a.right-border {
  border-right: #d2d2d2 1px solid;
}
ul li {
  list-style: none;
}

.navbar1 ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
#flag-position {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* navbar 2 style here  */
.nav {
  background: white;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-text {
  font-size: 24px;
  font-family: montserrat;
}
.make-bold {
  font-weight: bold;
  font-family: montserrat;
}
.make-a-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul .menu-item a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 26px 50px;
  color: black;
  font-family: montserrat;
}
.icon-list {
  gap: 30px;
}
.icon-position {
  position: relative;
  display: inline-block;
}
.nav-hr {
  border: none;
  border-top: 2px solid #e7e7e7;
}
.number-cart {
  position: absolute;
  bottom: -4px;
  left: -8px;
  background: #007db5;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border: white 1px solid;
  /* border-radius: 50%; */
}
/* nav3 starts here  */
.free-text {
  padding: 18px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

/* mobile menu  */
.nav-mobile {
  background: white;
  display: none;
}
.mobile-logo-text {
  font-size: 32px;
  font-weight: bold;
  font-family: montserrat;
  padding: 12px 0px;
}
.mobile-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile-nav1-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sliderbar-list {
  display: flex;
  flex-direction: column;
}

.slidebar {
  max-width: 400px;
  background: blue;
  position: absolute;
  display: none;
}
.sliderbar-list li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
.sliderbar-list li:hover {
  border-bottom: white 1px solid;
  background: rgb(83, 83, 141);
}

.slidebar.active {
  display: block;
}

/* ========product page style here=========== */
.product-page {
  background: white;
  padding-bottom: 65px;
}
.page-menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-menu-list li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: roboto;
  padding: 17px 0px;
}
.product-page-upper {
  display: flex;
  gap: 80px;
}
.product-page-upper-left {
  flex: 2;
}
.product-page-upper-right {
  flex: 1;
}
.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 344px 1055px 521px;
  grid-template-areas:
    "a a b b c c"
    "d d d d d d"
    "e e e f f f";
}
.image-1 {
  grid-area: a;
}
.image-2 {
  grid-area: b;
}
.image-3 {
  grid-area: c;
}
.image-4 {
  grid-area: d;
}
.image-5 {
  grid-area: e;
}
.image-6 {
  grid-area: f;
}
.product-images .image-4 {
  position: relative;
}
.text-on-product {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 12px;
  padding: 9px 22px;
  background: white;
  border-radius: 50px;
}

/* product right section style here  */
.uppercase {
  text-transform: uppercase;
  
}
.new {
  border-left: black 4px solid;
  font-size: 11px;
  padding: 2px 6px;
}
.right-heading {
  font-size: 20px;
  font-weight: bold;
}
.price-text {
  font-size: 16px;
  font-weight: bold;
}
.upper-right-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 8px 0px;
}
.gymshark-mens {
  font-size: 14px;
  color: #444444;
}
.oversized {
  font-size: 13px;
  color: #6e6e6e;
  margin: 6px 0px;
}
.color-heading-text {
  font-size: 14px;
  font-weight: bold;
}
.cherry-brown-print {
  font-size: 13px;
  color: #6e6e6e;
}
.color-set-box {
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 11px 0px;
}
.new-photos {
  margin-bottom: 14px;
}
.size-section {
  margin-top: 15px;
}
.size-section-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.select-size {
  font-size: 13px;
}
.size-guide {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.size-box-list li {
  font-size: 13px;
  font-weight: 600;
  padding: 14px 30px;
  border: black 1px solid;
  border-radius: 2px;
  cursor: pointer;
}
.size-box-list li:hover{
  background: #6e6e6e;
  color: white;
}
.product-btn {
  margin: 35px 0px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.add-button {
  font-size: 16px;
  border-radius: 50px;
  background: #007db5;
  padding: 15px 0px;
  color: white;
  border: none;
  cursor: pointer;
}
.wishlist-button {
  font-size: 16px;
  border-radius: 50px;
  background: #e7e7e7;
  padding: 15px 0px;
  color: black;
  border: none;
  cursor: pointer;
}
.checkout-heading {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 14px 0;
}
.interest-install {
  padding: 0 20px;
}
.klarna-text {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-bottom: 24px;
}
.installment {
  color: #444444;
  font-size: 14px;
}
.delivery-policy {
  background: #f5f5f5;
  padding: 35px 24px;
  border-radius: 4px;
  margin-bottom: 22px;
}
.delilvery-content {
  display: flex;
  gap: 16px;

  align-items: center;
}
.delilvery-content p {
  font-size: 14px;
  color: #444444;
}
#shopping-delivery{
  margin: 32px 0;
}
.description-title{
  font-size: 14px;
  margin-top: 12px;
}
.power-title{
  margin: 20px 0px 42px 0px;
  font-size: 16px ;
  color: #444444;
}
.power-details{
  font-size: 16px ;
  color: #444444;
  margin-bottom: 26px;
}
.power-ul{
  margin-bottom: 24px;
}
.power-ul li{
  font-size: 15px;
  color: #444444;
  font-family: roboto;
  margin-bottom: 5px;
}
.delivery-return{
  font-size: 14px;
  margin: 10px 0 14px 10px;
}
.right-ending{
  margin: 33px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .all-navbar {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .product-page-upper{
    display: flex;
    flex-direction: column;
  }
  .product-page-upper-right{
    padding: 0 20px;
  }
  .product-images {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 447px 83px;

    grid-template-areas:
      "d d d d d"
      "a b c e f";
  }
}
