.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
  background: #ededed;
}

p {
  font-family: roboto;
}
/* navbar starts here  */
.all-navbar {
  display: block;
}
.navbar1 li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: roboto;
  font-size: 14px;
}
.navbar1 li a.right-border {
  border-right: #d2d2d2 1px solid;
}
ul li {
  list-style: none;
}

.navbar1 ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
#flag-position {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* navbar 2 style here  */
.nav {
  background: white;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-text {
  font-size: 24px;
  font-family: montserrat;
}
.make-bold {
  font-weight: bold;
  font-family: montserrat;
}
.make-a-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar2 ul .menu-item a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 26px 50px;
  color: black;
  font-family: montserrat;
}
.icon-list {
  gap: 30px;
}
.icon-position {
  position: relative;
  display: inline-block;
}
.nav-hr {
  border: none;
  border-top: 2px solid #e7e7e7;
}
.number-cart {
  position: absolute;
  bottom: -4px;
  left: -8px;
  background: #007db5;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border: white 1px solid;
  /* border-radius: 50%; */
}
/* nav3 starts here  */
.free-text {
  padding: 18px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

/* mobile menu  */
.nav-mobile {
  background: white;
  display: none;
}
.mobile-logo-text {
  font-size: 32px;
  font-weight: bold;
  font-family: montserrat;
  padding: 12px 0px;
}
.mobile-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile-nav1-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sliderbar-list {
  display: flex;
  flex-direction: column;
}

.slidebar {
  max-width: 400px;
  background: black;
  position: absolute;
  display: none;
  z-index: 10;
}
.sliderbar-list li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.sliderbar-list li:hover {
  border-bottom: white 1px solid;
  background: rgb(83, 83, 141);
}

.slidebar.active {
  display: block;
}

/* ========product page style here=========== */
.product-page {
  background: white;
  padding-bottom: 65px;
}
.page-menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-menu-list li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: roboto;
  padding: 17px 0px;
}
.product-page-upper {
  display: flex;
  gap: 80px;
}
.product-page-upper-left {
  flex: 2;
}
.product-page-upper-right {
  flex: 1;
}
.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 344px 1055px 521px;
  grid-template-areas:
    "a a b b c c"
    "d d d d d d"
    "e e e f f f";
}
.image-1 {
  grid-area: a;
}
.image-2 {
  grid-area: b;
}
.image-3 {
  grid-area: c;
}
.image-4 {
  grid-area: d;
}
.image-5 {
  grid-area: e;
}
.image-6 {
  grid-area: f;
}
.product-images .image-4 {
  position: relative;
}
.text-on-product {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 12px;
  padding: 9px 22px;
  background: white;
  border-radius: 50px;
}

/* product right section style here  */
.uppercase {
  text-transform: uppercase;
}
.new {
  border-left: black 4px solid;
  font-size: 11px;
  padding: 2px 6px;
}
.right-heading {
  font-size: 20px;
  font-weight: bold;
}
.price-text {
  font-size: 16px;
  font-weight: bold;
}
.upper-right-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 8px 0px;
}
.gymshark-mens {
  font-size: 14px;
  color: #444444;
}
.oversized {
  font-size: 13px;
  color: #6e6e6e;
  margin: 6px 0px;
}
.color-heading-text {
  font-size: 14px;
  font-weight: bold;
}
.cherry-brown-print {
  font-size: 13px;
  color: #6e6e6e;
}
.color-set-box {
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 11px 0px;
}
.new-photos {
  margin-bottom: 14px;
}
.size-section {
  margin-top: 15px;
}
.size-section-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.select-size {
  font-size: 13px;
}
.size-guide {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.size-box-list li {
  font-size: 13px;
  font-weight: 600;
  padding: 14px 30px;
  border: black 1px solid;
  border-radius: 2px;
  cursor: pointer;
}
.size-box-list li:hover {
  background: #6e6e6e;
  color: white;
}
.product-btn {
  margin: 35px 0px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.add-button {
  font-size: 16px;
  border-radius: 50px;
  background: #007db5;
  padding: 15px 0px;
  color: white;
  border: none;
  cursor: pointer;
}
.wishlist-button {
  font-size: 16px;
  border-radius: 50px;
  background: #e7e7e7;
  padding: 15px 0px;
  color: black;
  border: none;
  cursor: pointer;
}
.checkout-heading {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 14px 0;
}
.interest-install {
  padding: 0 20px;
}
.klarna-text {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-bottom: 24px;
}
.installment {
  color: #444444;
  font-size: 14px;
}
.delivery-policy {
  background: #f5f5f5;
  padding: 35px 24px;
  border-radius: 4px;
  margin-bottom: 22px;
}
.delilvery-content {
  display: flex;
  gap: 16px;

  align-items: center;
}
.delilvery-content p {
  font-size: 14px;
  color: #444444;
}
#shopping-delivery {
  margin: 32px 0;
}
.description-title {
  font-size: 14px;
  margin-top: 12px;
}
.power-title {
  margin: 20px 0px 42px 0px;
  font-size: 16px;
  color: #444444;
}
.power-details {
  font-size: 16px;
  color: #444444;
  margin-bottom: 26px;
}
.power-ul {
  margin-bottom: 24px;
}
.power-ul li {
  font-size: 15px;
  color: #444444;
  font-family: roboto;
  margin-bottom: 5px;
}
.delivery-return {
  font-size: 14px;
  margin: 10px 0 14px 10px;
}
.right-ending {
  margin: 33px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

/* product slider section  */

.product-page-slide {
  padding: 50px 0 180px 0;
  background: #f5f5f5;
}
.option-slide {
  display: flex;
  gap: 32px;

  justify-content: center;
  align-items: center;
}
.slide-text {
  font-size: 16px;
  font-family: montserrat;
  color: #6e6e6e;
  padding: 12px;
  cursor: pointer;
}
.slide-text.active {
  color: #000;
}
.option-slide-bar {
  height: 2px;
  width: 340px;
  background: #c2c0c0;
  margin: 0 auto;
  position: relative;
}

.option-slide-bar-child {
  position: absolute;
  height: 2px;
  width: 170px;
  background: #000;
  left: 0;
  transition: transform 0.35s ease;
}

.option-slide-bar-child.right {
  transform: translateX(170px);
}

/* slider style here  */
.card-container {
  padding-top: 26px;
  /* max-width: 1200px; */
  /* width: 95%; */
  margin: 0 auto;
  position: relative;
}
.card-item {
  width: 320px;
  position: relative;
}

.card-container .slider-button {
  position: absolute;
  height: 32px;
  width: 32px;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: black;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
}
.card-container .slider-button#prev-slide {
  left: 10px;
}
.card-container .slider-button#next-slide {
  right: 10px;
}
.slide-wrapper .card-list {
  display: grid;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}
.slide-wrapper .card-list::-webkit-scrollbar {
  display: none;
}

.card-heart {
  position: absolute;
  background: white;
  padding: 6px 6px 4px 6px;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.card-price-text {
  font-size: 16px;
}
.card-price-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 3px 0;
}
.card-title {
  font-size: 16px;
  color: #444444;
  margin-bottom: 2px;
}
.card-props {
  font-size: 13px;
  color: #6e6e6e;
}
.slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 90%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
  margin: 0 auto;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 30%;
  background: black;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
footer {
  background: white;
  padding: 32px 60px 18px 60px;
}
.footer-upper-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer-upper-left-div {
  display: flex;
  justify-content: space-around;
  gap: 52px;
}
.footer-links-gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-link-heading {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 17px;
}
.footer-img-header {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}
.footer-cards {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}
.footer-card-title {
  font-size: 12px;
  padding-left: 12px;
  padding-bottom: 7px;
  padding-top: 5px;
  background: #e7e7e7;
  margin-top: -6px;
}
.footer-lower-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 27px;
}
.footer-lower-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-left-images {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.footer-lower-right-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-lower-right-links li {
  font-size: 14px;
  color: #53565a;
}
.copyright {
  font-size: 13px;
  color: #444444;
}
.footer-upper-left-right {
  overflow: auto;
}
/* mobile upper footer  */
.mobile-footer-upper {
  display: none;
}
.mobile-footer-link {
  font-family: "Montserrat";
  font-size: 14;
  font-weight: bold;
  margin: 10px 0px;
}
.mobile-footer-account {
  font-size: 14;
  font-weight: bold;
  color: white;
  background: #444444;
  font-family: "Montserrat";
  text-align: center;
  padding: 9px 0;
}
.mobile-footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-icon {
  color: #c4c4c4;
  font-size: 19px;
}

/* Home Page design  */
.hero {
  color: white;
  height: 644px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#section1 {
  background: url("../img/hero-bg.png") no-repeat center center/ cover;
}
.hero-content {
  margin-left: 60px;
}
.hero-title {
  font-size: 40px;
  font-weight: bolder;
}
.hero-text {
  font-size: 15px;
  margin: 21px 0 26px 0;
}
.hero-btn {
  border-radius: 50px;
  padding: 15px 28px;
  font-size: 13px;
  font-weight: bold;
  border: none;
}
/* home page section 1 sty;e  */
.home-card-section1 {
  background: white;
  padding: 30px 20px;
}
.card-section-title {
  font-size: 14px;
  font-family: "Montserrat";
  color: #53565a;
  font-weight: 500;
}
.card-section-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.card-section-heading {
  font-size: 25px;
  font-weight: bold;
}
.viewAll {
  font-size: 16px;
  cursor: pointer;
}
.card-section-card {
  max-width: 320px;
}
.card-section-card-title {
  position: relative;
}
.slim-fit {
  position: absolute;
  bottom: 8px;
  text-align: center;
  font-size: 12px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  width: 95%;
  padding: 5px 0px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.new-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 0;
}
.cloth-type {
  font-size: 16px;
  color: #444444;
}
.cloth-color {
  font-size: 13px;
  color: #6e6e6e;
  margin: 5px 0;
}
/* section 1 card style  */
.card-section-cards {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.card-section-cards::-webkit-scrollbar {
  display: none;
}
/* section-2  */
#section2 {
  background: url("../img/section2.png") no-repeat center center/ cover;
}
.section2-buttons {
  display: flex;
  gap: 30px;
}
.section2-buttons button {
  border: none;
}
.men-button {
  border-radius: 50px;
  padding: 15px 28px;
  font-size: 13px;
  font-weight: bold;
  background: #53565a;
  color: white;
}
.section2-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#section4 {
  background: url("../img/section4-bg.png") no-repeat center center/ cover;
}
#section6 {
  background: url("../img/section6-bg.png") no-repeat center center/ cover;
}
#section8 {
  background: url("../img/section8.png") no-repeat center center/ cover;
  text-align: center;
  margin-bottom: 30px;
}
#section9 {
  background: url("../img/section9.png") no-repeat center center/ cover;
  text-align: center;
}
#section9-title,
#text-section9 {
  text-align: center;
}
.section10 {
  background: white;
  color: white;
}
.section10-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  gap: 10px;
}
.section10-content {
  /* height: 430px; */
  width: 100%;
}
.left {
  background: url("../img/section9-1bg.png") no-repeat center center/ cover;
  height: 430px;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
}
.right {
  background: url("../img/section9-2bg.png") no-repeat center center/ cover;
  height: 430px;
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.section10-half-body-left {
  padding-right: 60px;
}
.section10-half-body-right {
  padding-left: 60px;
}

.section10-title {
  font-size: 32px;
  margin-bottom: 21px;
  font: bold;
}
.section11-cards {
  display: flex;
  gap: 11px;
  padding: 30px 20px;
}
.section11-card {
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
#section11-card1 {
  background: url("../img/section11-1.png") no-repeat center center/ cover;
}
#section11-card2 {
  background: url("../img/section11-2.png") no-repeat center center/ cover;
}
#section11-card3 {
  background: url("../img/section11-3.png") no-repeat center center/ cover;
}
.section11-title {
  font-size: 20px;
  margin-bottom: 21px;
}
.section12 {
  background: white;
  padding: 77px 30px 56px;
  border-bottom: #bbbcbc 1px solid;
}
.section12-content {
  padding: 33px 78px 33px 33px;
  border: #e7e7e7 1px solid;
}
.section12-title {
  font-size: 14px;
  font-weight: bold;
}
.section12-text {
  font-size: 14px;
  color: #6e6e6e;
}
.section12-first-p {
  margin: 18px 0;
}

/* category page code here  */
.best-seller-span {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
#category-hero {
  background: url("../img/category-hero.png") no-repeat center center/ cover;
}
#category-hero-content {
  text-align: center;
}
.hero-title-category {
  font-size: 48px;
  margin-bottom: 40px;
}
.red-offer {
  display: flex;
  justify-content: space-between;
}
.red-offer-img {
  display: flex;
  gap: 8px;
  align-items: center;
}
.offer-text {
  color: #e5323a;
  font-size: 11px;
  font-weight: bold;
}
.cat-price-text {
  font-size: 16px;
  font-weight: bold;
}
.price-text-cross {
  font-size: 14px;
  color: #797979;
  font-weight: bold;
}
/* responsive code here  */
@media screen and (max-width: 768px) {
  .all-navbar {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .product-page-upper {
    display: flex;
    flex-direction: column;
  }
  .product-page-upper-right {
    padding: 0 20px;
  }
  .page-menu-list {
    display: none;
  }
  .product-images {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 447px 83px;

    grid-template-areas:
      "d d d d d"
      "a b c e f";
  }
  .mobile-footer-upper {
    display: block;
  }
  .footer-upper-left-div {
    display: none;
  }
  .footer-lower-div {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .footer-lower-right {
    align-items: center;
  }
  .footer-lower-right-links {
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
  .footer-copyright-mobile {
    display: block;
  }
  .footer-upper-left-right {
    flex: 1;
    min-width: 0;
    overflow: visible;
  }
  .footer-cards {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    width: 100%;
  }

  .footer-card {
    flex: 0 0 auto;
    /* min-width: 240px; */
  }

  .footer-cards::-webkit-scrollbar {
    display: none;
  }
  .mobile-footer-list {
    display: none;
  }

  .mobile-footer-list.active {
    display: block;
  }
  .hero {
    align-items: end;
  }
  .hero-content {
    margin: 0 30px 50px;
  }
  /* home section cards  */
  /* mobile slider */
  .card-section-cards {
    display: flex;
    gap: 16px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    padding-bottom: 10px;
  }

  .card-section-cards::-webkit-scrollbar {
    display: none; /* hide scrollbar */
  }

  .card-section-card {
    /* min-width: 260px;  */
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  .card-section-card .card-section-card-title img {
    height: 193px;
  }
  .cloth-type {
    width: 160px;
  }
  .card-section-flex {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .home-card-section1 {
    padding: 30px 20px;
  }
  /* section 2 responsive  */
  .section2-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .men-button {
    border-radius: 50px;
    padding: 15px 28px;
    font-size: 13px;
    font-weight: bold;
    background: #53565a;
    color: white;
  }
  .section2-content {
    margin: 0 0 77px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .section10-content {
    flex-direction: column;
  }
  .left,
  .right {
    height: 230px;
  }
  /* section 4 responsive  */
  #section4 {
    align-items: center;
  }
  /* section 8 */
  #section8 {
    justify-content: center;
    align-items: center;
  }
  #section8-content {
    align-items: center;
  }
  #section9-content {
    align-items: center;
  }
  /* section 11 slider  */
  .section11-cards {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    padding-bottom: 10px;
  }

  .section11-cards::-webkit-scrollbar {
    display: none;
  }

  .section11-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  /* category  */
  #category-hero {
    justify-content: center;
    align-items: center;
  }
  #category-hero-content {
    align-items: center;
  }
  #red-offer-img {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
